<style>

#jDialogSelectLista {
	list-style: none;
	margin-left: 0;
	padding: 0;
	padding-left: 5px;
}

.jDialogSelectLi {
	cursor: pointer;
}

#jDialogSelectFiltro {
 	width: 370px;
 	border: 1px solid #DDD;
 }
 
</style>

<div id="jDialogSelectDialog" title="">	
	<form id="jDialogSelectForm">	
		<div class="form">
			<div class="fields">					
				<div class="field">						
					<div id="listaViaturasDiv">		
					
						<input type="text" id="jDialogSelectFiltro" name="filtro" value="" />
							
						<ul id="jDialogSelectLista"></ul>
					</div>
				</div>
				
				<div class="buttons" style="margin-left: 0;">
					<input class="ui-button ui-widget ui-state-default ui-corner-all" type="button" id="jDialogSelectCancelar" value="fechar" />
				</div>			
			</div>
		</div>	
	</form>		
</div>