#content {
	top: 0;
	left: 0;
	position: relative;	
}

.menuTopo {
    color: #555;
    float: right;
    margin: 10px 15px 0 0;
    font-style:italic;
    z-index: 2000;
}

.fastview {
	height: 100%;
	width: 300px;
	float: left;
    margin-left: -300px;
}

.fastview_maxmin_shadow {
	background-color: #000;
	width: 4px;
    position: absolute;
	top: 0;
	left: 0;
    z-index: 1;	
	opacity: 0.1;	
}

.fastview_maxmin {
    background: url("../images/icones/icons_fastview.png") no-repeat scroll -282px -194px transparent;
    cursor: pointer;
    height: 43px;
    left: 0;
    position: absolute;
    top: 70px;
    width: 24px;
    z-index: 1;	
}

.fastview a {
	outline: none;
}

.home_mapa {
    cursor: pointer;
    height: 43px;
    position: absolute;
    right: 23px;
    bottom: 65px;    
    width: 24px;
    z-index: 1;	
    opacity: 0.5;	
    display: block;
}

#maxmin {   
    position: absolute;
	background-image: url(../images/icones/maximize_minimize.png);
	background-repeat: no-repeat;
    right: 5px;
    bottom: 25px;
    z-index: 1;
    height: 38px;
    width: 42px;	
    cursor: pointer;
    opacity: 0.5;    
}

/*#tabFiltros, #tabRegioes, #divFiltros, #tabLegendas {*/
	
#tabLegendas {	
/*	overflow: hidden;*/ 
	text-align: center; 
/*	position: absolute; */ 
	color: rgb(51, 51, 51); 
	font-family: Arial,sans-serif; 
	font-size: 13px; 
	padding: 1px 6px; 
	box-shadow: 0pt 2px 4px rgba(0, 0, 0, 0.4); 
	border: 1px solid rgb(113, 123, 135);
	font-weight: normal; 
	width: 125px;
	z-index: 2;
	background-color: #FFF;
    cursor: pointer;
}

#divFiltros {
	text-align: center; 
	position: absolute; 
	font-family: Arial,sans-serif; 
	font-size: 13px; 
	font-weight: normal; 
	width: 125px;
	z-index: 2;
    cursor: pointer;
/*    
	right: 25px;
    top: 5px;
*/
    left: 45px;
    top: 5px;
    z-index: 2	
}
/*
#tabLegendas {	
    left: 45px;
    top: 5px;	
}
*/
#tabFiltros, #tabRegioes {	
	text-align: center; 
	color: rgb(51, 51, 51); 
	font-family: Arial,sans-serif; 
	font-size: 13px; 
	padding: 1px 6px; 
	box-shadow: 0pt 2px 4px rgba(0, 0, 0, 0.4); 
	border: 1px solid rgb(113, 123, 135);
	font-weight: normal; 
	width: 125px;
	z-index: 2;
	background-color: #FFF;
    cursor: pointer;
}

#filtrosMap, #tab_regioes  {
	text-align: left; 
	color: rgb(51, 51, 51); 
	font-family: 13px normal Arial,sans-serif; 
	padding: 3px 6px 6px 6px; 
	box-shadow: 0pt 2px 4px rgba(0, 0, 0, 0.4); 
	border: 1px solid rgb(113, 123, 135);
	border-top-color: rgb(200, 200, 200);
	width: 125px;
	background-color: #FFF;
    cursor: pointer;
    display: none;
	margin-bottom: 5px;
}

#legendaMapaCalor, #ocorrencias_tab_legendas, #veiculos_tab_legendas, #agentes_tab_legendas {
    display: none; 
	text-align: left; 
/*	overflow: hidden; 
	position: absolute; 
    left: 45px;
    top: 24px; */	
	color: rgb(51, 51, 51); 
	font-family: 13px normal Arial,sans-serif; 
	padding: 3px 6px 6px 6px; 
	box-shadow: 0pt 2px 4px rgba(0, 0, 0, 0.4); 
	border: 1px solid rgb(113, 123, 135);
	border-top-color: rgb(200, 200, 200);
	width: 125px; 
	z-index: 2;
	background-color: #FFF;
}

#tab_regioes ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#tab_regioes ul li {
	padding: 3px 0;	
}

#tab_regioes .negrito {
	font-weight: bold;
}

#tab_regioes a {
	color: #000;
}

#legendaMapaCalor table {
	border: none;
	width:125px; 
}

#legendaMapaCalor table tr td {
	padding: 1px;
}

#content div.box #legendaMapaCalor table td, table td {
	border: none;	
}
	
.legendas {
	padding: 5px 10px;
	margin: 10px 0 0 0;
	list-style: none;
}

.legendasMapa {
	padding: 5px 10px;
	margin: 0px 0 0 0;
	list-style: none;
}

.legendas span {
	width: 10px;
	height: 10px;	
	display: block;
	float: left;
	margin-right: 10px;		
}

.legendasMapa span {
	width: 10px;
	height: 10px;	
	display: block;
	float: left;
	margin-right: 10px;		
}

.legendasMapa p {
	margin-left: 25px;		
}

.legendas li {
    width: 130px;	
	float: left;
}

#content div.box ul.legendas li p {
	margin-left: 20px;
	font-size: 10px;
}

#content div.box ul.legendas li {
	font-size: 10px;
	margin: 0;
	padding: 0;	
}
		
#logoFotoMapa {  
    position: absolute;
	background-image: url(../images/logoFoto.png);
	background-repeat: no-repeat;
    left: 5px;
    bottom: 30px;
    z-index: 999;
    height: 45px;
    width: 127px;	
    cursor: pointer;
    opacity: 0.5;
}

.search {
    border: 1px solid #999999;
   	margin: 5px 5px 0 5px;    
   	padding: 2px 2px;
   	font-size: 11px;
}

.searchInput {
  	border: 0px solid #000;
  	width: 250px;
  	margin: 0 4px;
}

.searchBnt {
	background: none;
	border: none;	
	background-image: url(../images/icones/lupa.png);
	background-repeat: no-repeat;	
	background-position: 0px 0px;	
	width: 20px;
	cursor: pointer;
}

#mapaDiv {
	height: 400px; 
	display: block; 
	clear: both; 
	margin: 10px 0 15px 0px; 
}

.bnt_mapa {  
    cursor: pointer;
	margin-left: 20px;
}

#dialogMapa, #dialogAddVeiculo {
	width: 400px;
	display: none;
}

.inputSubDiv {
	 float: left;
	 margin-right: 10px;
}

.subDiv {
	margin-top: 15px; 
	float: none;
}

#solicitantes, #vitimas {
	margin-left: 0;
}

#listaVeiculosEnvolvidos {
	margin-left: 185px;
}

#listaVeiculosEnvolvidos li {
	width: 100%;
}

div.box #listaOcorrenciasDiv, div.box #listaVeiculosDiv, div.box #listaAgentesDiv, div.box #listaPontosDeInteresseDiv {
	overflow-y: auto;
	margin: 10px 0 0 0;
	width: 100%;
}

div.box #listaOcorrenciasDiv li, div.box #listaVeiculosDiv li, div.box #listaAgentesDiv li, div.box #listaPontosDeInteresseDiv li  {
	padding: 5px 0;
	margin: 0;
}

div.box #listaOcorrencias {
	display: block;
	padding: 0px 0 0;
	clear: both;
	list-style: none;
	overflow-y: auto;
	margin: 0;
}

div.box #listaOcorrencias h1 {
	font-size: 11px;
	border: none;
	padding: 0;
}

div.box #listaOcorrencias .ocorrencia {
	background-repeat: no-repeat;	
	background-position: 2px 2px;
	display: block;
	padding: 14px 5px;	
	margin: 2px;
}

div.box #listaOcorrencias li span {
	width: 30px;
	float: left;
	text-align: right;
	margin-right: 15px;
	margin-left: 15px;
}

.ocorrenciaDetalhe {
	padding: 5px;
	display: none;
	margin-top: 5px;
}

#content div.box .ocorrenciaDetalhe p {
	margin: 5px 0 0 0;
}

.ocorrencia {

}

.enderecoOcorrencia {
    margin-left: 65px;
}

div.box #listaVeiculos {
	display: block;
	padding: 0px 0 0;
	clear: both;
	list-style: none;
	overflow-y: auto;
	margin: 0;
}

div.box #listaVeiculos h1 {
	font-size: 11px;
	border: none;
	padding: 0;
}

div.box #listaVeiculos .veiculo {
	display: block;
	padding: 14px 5px;	
	margin: 2px;
	background-color: #EEE;
}

div.box #listaVeiculos li span {
	width: 40px;
	float: left;
	text-align: right;
	margin-right: 15px;
	margin-left: 15px;
}

.veiculoDetalhe {
	padding: 15px 5px 0 5px;
	display: none;
}

.veiculoDetalhe p {
	margin: 0;
	
}

.veiculo {
	cursor: pointer;
}

.listaVeiculosCadastro, #listaVeiculosCadastro, .listaAgentesCadastro, #listaAgentesCadastro {
	margin: 0 0 10px 0;
	padding: 0;
	list-style: none;
}

#listaVeiculosAgente {	
	list-style: none;	
	padding: 0;
	margin: 0;
}

#listaVeiculosAgente li {
	padding: 10px 0 10px 0;
	border-bottom: 1px solid #DDD;
}

#listaVeiculosAgente li a {
	outline: none;
	text-decoration: none;
}

#listaVeiculosAgente li span {
	margin: 0 20px;
	float: left;
    padding: 0;
    text-align: right;
    width: 100px;	
}

div.box #listaAgentes {
	display: block;
	padding: 0px 0 0;
	clear: both;
	list-style: none;
	overflow-y: auto;
	margin: 0;
}

div.box #listaPontosDeInteresse {
	display: block;
	padding: 0px 0 0;
	clear: both;
	list-style: none;
	overflow-y: auto;
	margin: 0;
}

div.box #listaAgentes h1 {
	font-size: 11px;
	border: none;
	padding: 0;
}

div.box #listaPontosDeInteresse h1 {
	font-size: 11px;
	border: none;
	padding: 0;
}

div.box #listaAgentes .agente {
	display: block;
	padding: 14px 5px;	
	margin: 2px;
	background-color: #EEE;
}

div.box #listaPontosDeInteresse .pontoDeInteresse {
	display: block;
	padding: 14px 5px;	
	margin: 2px;
	background-color: #EEE;
}

div.box #listaPontosDeInteresse .pontoDeInteresseSel {
	background-image: url(../images/icones/ocorrencia_amarelo.png);
}

div.box #listaAgentes li span {
 	margin-left: 15px;
    margin-right: 15px;
    text-align: left;
    width: 40px;	
}

div.box #listaPontosDeInteresse li span {
 	margin-left: 15px;
    margin-right: 15px;
    text-align: left;
    width: 40px;	
}

.pontoDeInteresseDetalhe {
	padding: 15px 5px 0 5px;
	display: none;
}

.pontoDeInteresse {
	cursor: pointer;
}

.agenteDetalhe {
	padding: 15px 5px 0 5px;
	display: none;
}

.agente {
	cursor: pointer;
}

#enderecoCerca, #enderecoRota, #enderecoRegiao {
	background-image: url(../images/icones/lupa.png);
	background-repeat: no-repeat;	
	background-position: 6px 3px;	
    border: 1px solid #717B87;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    font-family: Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    left: 100px;
    overflow: hidden;
    padding: 3px 12px 3px 30px;
    position: absolute;
    text-align: left;
    top: 5px;
    width: 400px;
    z-index: 2;
}

.tooltip {
	display:none;
	background:transparent url(/tools/img/tooltip/black_arrow.png);
	font-size:12px;
	height:70px;
	width:160px;
	padding:25px;
	color:#fff;	
}

.ajuda {
	display: inline;
	color: #F00;
	margin-left: 10px;
	cursor: pointer;
}

.balaoMaps {
	font: normal 12px Arial;
	width: auto;
	height: auto;
}

.balaoMaps h1 {
	font: bold 12px Arial;
}

.balaoMaps ul {
	list-style: none;
	padding: 0;
}

.inputTexto {
	padding: 8px 0 0 5px;
}

#ocorrenciaDetalhes {
	overflow-y: auto;
	max-height: 550px;
}

.listaViaturas {
	margin-bottom: 10px;	
}

.error {
	color: #F00;
	padding-top: 5px;
	font-size: 11px;
	clear: both;
}

*:focus {
	outline: none;
}  
	
input:focus, textarea:focus {
  outline: none;
}

.ui-dialog div.form div.fields div.field div.input input,div.box-left div.form div.fields div.field .input input,div.box-right div.form div.fields div.field .input input {

}

#menuDrop {
	color: #0066cc;
}

#menuDrop {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

#content div.box #menuDrop li  {
	padding: 10px;
}

#content div.box #menuDrop li ul li  {
	padding: 10px 0 10px 10px;
}

#menuDrop li:hover {
	background-color: #EEE;
}

#content div.box #menuDrop li ul {
	padding: 0px 0px 0 10px;
	margin: 10px 0 0 0;
	list-style: none;
	border-left: 1px solid #999;
}

.tabelaVazia {
	padding-top: 5px;
	display: block;	
}

.addOpcMenu {
	padding: 10px 10px;
	display: block;
}

.menuBotoes {
	float: right;
}

.submenu {
	display: none;  
}

.submenuIn {
	display: none;  
}

.botaoBalao {
	border-top: 1px solid #DDD;
	width: 320px;
}


.video {
}


.botaoAbas {	
	float: right; 
	margin: 4px 5px;
}
.botaoAbas a {	
	padding: 5px 8px;
	text-decoration: none;
	outline: none;
}

.botaoAbas .selecionado {	
	padding: 5px 8px;
	background-color: #369;
	border-radius: 7px;
	color: #FFF;
}
  
#notificacao {
    bottom: 0px;
    position: absolute;
    right: 5px;
    width: 300px;
    z-index: 900;
}

#notificacao h2 {
    background-color: #5e852a;
    border-radius: 0;
    margin: 0 0 0 auto;
    padding: 2px;
    width: 100px;	
    color: #FFF;
    text-align: center;
    font-size: 10px;
    
	opacity:0.85;
	-moz-opacity: 0.85;
	filter: alpha(opacity=85);      
}

#notificacao a {
	width: 10px;
	color: #BBB;
}

#notificacao b a {
	color: #EEE;
}

#notificacoes {
    background-color: #5e852a;
    border-radius:0;
    height: auto;
    width: 300px;
    bottom: 0;       
    margin: 0;
    padding: 0;
        
	opacity:0.85;
	-moz-opacity: 0.85;
	filter: alpha(opacity=85);    
	list-style: none;
}

#notificacoes li { 
	padding: 10px 15px;
	color: #FFF;
	border-bottom: 1px solid #356A9F;
}

#notificacoes_push {
    background-color: #00376E;
    border-radius: 10px;
    height: auto;
    width: 300px;
    margin: 0 0 10px 0;
    padding: 0px;
        
	opacity:0.85;
	-moz-opacity: 0.85;
	filter: alpha(opacity=85);    
	list-style: none;
}

#notificacoes_push li {	
	padding: 10px 15px;	
}

#comentarios, #mensagens {
	width: 665px; 
	max-height: 350px;
	overflow: hidden;
	overflow-y: auto;
	margin: 20px 0;
}

#listaComentarios, #listaMensagens {
	list-style: none;
	margin: 0;
	padding: 0;
}

#listaComentarios li, #listaMensagens li {
    background-color: #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    clear: both;
    display: inline-table;
    padding: 10px;
    width: 645px;	
}

#listaMensagens li {
    border: none;	
}

#listaMensagens li:hover {
    background-color: #EEE;	
}

#listaComentarios li b, #listaMensagens li b {
	width: 120px;
	display: block;
	float: left;
	font-size: 10px;
}

#listaCercasDiv, #listaRotasDiv, #listaVeiculosDiv, #listaRegiaoDiv, #listaAgentesDiv, #listaPontosDeInteresseDiv {
	width: 200px;
	float: left;
	margin-right: 20px;
}

#listaCercasDiv input, #listaRotasDiv input, #listaVeiculosDiv input, #listaRegiaoDiv input, #listaAgentesDiv input, #listaPontosDeInteresseDiv input {
	border: 1px solid #999;
	padding: 3px 0;
}

#listaCercas, #listaRotas, .listaDialogSelect, #listaRegioes {
	overflow: hidden;
	overflow-y: auto;
	height: 400px;
	list-style: none;
	padding: 0;
}

#listaCercas li, #listaCercas li a, #listaRotas li, #listaRotas li a, .listaDialogSelect li, .listaDialogSelect li a, #listaRegioes li, #listaRegioes li a {
	width: 100%;
	display: block;
	font: normal 12px Arial;
	color: #555;
	margin: 5px 0;
}

#listaCercas li.selecionado, #listaRotas li.selecionado, .listaDialogSelect li.selecionado, #listaRegioes li.selecionado {
	background-color: #E0E0E0;
	padding: 5px 0px;
}

#listaAgentes .emAtendimento, #listaVeiculos .emAtendimento  {
	width: 10px;
	height: 10px;
    background-color: #A00;	
    float: left;
    margin-right: 10px;
}

#listaAgentes .naoEmAtendimento, #listaVeiculos .naoEmAtendimento  {
	width: 10px;
	height: 10px;
    background-color: #0A0;	
    float: left;
    margin-right: 10px;
}

#listaImagens {
	list-style: none;		
	margin-top: 30px;
	margin-left: 7px;
}

#listaImagens li {
	display: inline;		
}


.tabs_chat {
	list-style: none;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #DDD;
	height: 23px;
}

.tabs_chat li {
	float: left;
	display: block;
	padding: 5px 10px;
	margin: 0 5px 0 0;
    border-radius: 5px 5px 0px 0px;
	background-color: #DDD;
}

.tabs_chat li b {
    background-color: #FF0000;
    border-radius: 15px 15px 15px 15px;
    color: #FFFFFF;
    float: right;
    font-size: 10px;
    margin-left: 5px;
    margin-top: -10px;
    padding: 2px 5px;	
}

.tabs_chat li.selecionado {
	background-color: #356AA0;
}

.tabs_chat li.selecionado a {
	color: #FFF;
}

#loading { display: none; position:fixed; left:0; top:0; width:100%; height:100%; background-image:url("../images/transparentbg.png"); z-index: 5000; }
#loading table { font: normal 18px Arial; color: #FFF; }

.quebra {
	clear: both;
}