<%@ tag body-content="empty" description="Header tag file" %>

<div id="footer">
<!-- 	<p style="text-align: center;">On The Go -->
<!-- 	<span style="float: left;"></span> -->
<!-- 	<span style="float: right;"></span></p> -->
</div>